.memory-box {
    display: inline-block;
    border: 1px solid black;
    margin:10px;
    text-align: center;
}

.memory-box-image {
    vertical-align: top;
}

.memory-box-image img {
    padding: 5px;
}